@model NvkLesson07.Models.NvkEmployee

@{
    ViewData["Title"] = "NvkDetails";
    Layout = "~/Views/Shared/_NvkLayout.cshtml";
}

<h1>NvkDetails</h1>

<div>
    <h4>NvkEmployee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvkId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvkId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvkName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvkName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvkBirthDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvkBirthDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvkEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvkEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvkPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvkPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvkSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvkSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvkStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvkStatus)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="NvkIndex1">Back to List</a>
</div>