@model IEnumerable<NvkLesson09.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="NvkCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                    <a asp-action="NvkEdit" asp-route-Nvkid="@item.CategoryId">Edit</a> |
                    <a asp-action="NvkDetails" asp-route-Nvkid="@item.CategoryId">Details</a> |
                    <a asp-action="NvkDelete" asp-route-Nvkid="@item.CategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
